[Unit]
Description=terminal app service
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/karimi/amin2/amin-terminal
Environment="PATH=/home/karimi/amin2/amin-terminal/amin-project/bin"
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind 0.0.0.0 -m 007 wsgi:app
